@import 'base.css';

.heading {
    color: var(--c-text-heading);
}

.comment-text {
    color: var(--c-text-comment);
}

.center-text {
    display: block;
    text-align: center;
}

.join-text {
    display: inline-block;
}